* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%; 
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-image: url("../img/beach.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;  

  color: #926239;

  text-align: center;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  
}

.main-header {
  font-size: 5rem;
  line-height: 1.2  ;
  text-transform: capitalize;

  animation: opacity 1.8s;
}

.heading-text {
  font-size: 2rem;
  line-height: 1.6;
  animation: opacity 1.8s;
}

.heading-btn {

  border: 1px solid #926239;
  border-radius: 1rem;
  box-shadow: 0 4px 5px #9263398c;
  font-size: 1.8rem;
  text-transform: capitalize;
  padding: 1.4rem 2rem;
  cursor: pointer;
  animation: moveUp 1s, opacity .7s;
  
  transition: all .1s;

  margin-top: 2rem;
}

.heading-btn:hover {
  background-color: #926239;
  color: white;
}

.heading-btn:active {
  transform: translateY(5px);
}



/* Description */

.beach-description {
  display: flex;
  flex-flow: column;
  align-items: center;

  background-color: #926239;
  color: white;

}



.description-header {
  font-size: 3.5rem;
  text-align: center;
  padding: 8rem 0;
  text-transform: uppercase;
 
}

.description-block {
  display: flex;
  padding-bottom: 10rem;
  width: 80%;   

}

.description-block:nth-child(3) {
  flex-direction: row-reverse;
}

.description-img {
  width: 50%;
  height: 700px;
  object-fit: cover;
  box-shadow: 2px 2px 10px #00000071;
  object-position: top;
}

.description-text-block {
  width: 50%;
  font-size: 1.8rem;
  padding: 1rem 3rem;

}

/* Info-Links */

.info-links {
  display: flex;
  background-color: #f4f4f4;
  width: 100%;
  margin: 0 auto;
  padding: 10rem 5rem;
  text-align: center;
  border-top: 1px solid #5338209a;
  border-bottom: 1px solid #5338209a;
  
}


.info-link-container{
  width: 24%;
  color: #926239;

}

.info-link-logo {
  font-size: 8rem;
  transition: all .2s;
  cursor: pointer;
}


.info-link-logo:hover{
  transform: translateY(-5px); 
}

.info-link-text {
  display: block;
  font-size: 3rem;
  margin-top: 2rem;
  color: #533820;
  cursor: pointer;
}

/* Hotel Info */

.hotels-container {
  display: flex;

}

.hotel-info {
  text-align: center;
  background-color: #926239;

}

.hotel-info-header {
  color: white;
  font-size: 3.5rem;
  text-transform: uppercase;

  padding: 8rem 0;
}

.hotel {
  height: 50rem;
  padding: 5rem;
  flex: 1;
}

.hotel-img {
  width: 25rem;
  height: 15rem;
  margin-bottom: 4rem;
  border-radius: 5px;
  box-shadow: 0 5px 8px #0000008a;
  transform: scale(1);
  transition: all .2s;
  cursor: pointer;
}

.hotel-img:hover {
  transform: scale(1.1);
}

.hotel-name-heading{
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.hotel-text {
  font-size: 1.6rem;
}

.first-hotel {
  background-color: #f4f4f4;
  color: #926239;
  border-top-right-radius: 10px;
}

.second-hotel {
  color: white;
}

.third-hotel {
  background-color: #f4f4f4;
  color: #926239;
  border-top-left-radius: 10px;
}

/* Footer */

footer {
  background-color:#272727;
  border-top: 1px solid #926239;
  padding: 5rem 5rem 4rem 5rem;
  color: white;
  text-align: center;
}

.social-media {
  width: 80%;
  margin: 0 auto;
}

.media-logo{
  font-size: 3rem;
  transform: scale(1);
  cursor: pointer;
  transition: all .2s;
}

.media-logo:hover{
  transform: scale(1.1);
}

.media-logo:not(:last-child) {
  margin-right: 5rem;
}

.copy-text {
  width: 40%;
  margin: 0 auto;
  margin-top: 2rem;
}



/* Animation */

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(3.5rem);
  }

  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 378px) {
  html {
    font-size: 40%;
  }

  .heading-text {
    width: 70%;
    text-align: center;
  }


  .description-block {
    flex-flow: column;
    align-items: center;  
    width: 100%;
  }

  .description-block:nth-child(3) {
    flex-direction: column;
  }

  .description-img {
    width: 50%;
    height: auto;
  }

  .description-text-block {
    width: 80%;
    text-align: center;
  }

  .info-links {
    flex-flow: column;
    align-items: center;
  }

  .info-link-container:not(:last-child){
    margin-bottom: 30px;
    width: 50%;
  }

  .hotel-info {
    display: flex;
    flex-flow: column;
  }

  .hotels-container {
    flex-flow: column;
  }

  .first-hotel {
    border-top-right-radius: 0;
  }


  .third-hotel {
    border-top-left-radius: 0;
  }

  .copy-text {
    width: 90%;
    margin-bottom: 10px;
  }
  
  .media-logo{
    font-size: 2rem;
    margin-bottom: 10px;
  }
}