* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%; 
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-image: url("../img/beach.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;  

  color: #926239;

  text-align: center;
  
}

.main-header {
  font-size: 5rem;
  line-height: 1.2  ;
  text-transform: capitalize;
  padding-top: 38vh;  
  animation: opacity 1.8s;
}

.heading-text {
  font-size: 2rem;
  line-height: 1.6;
  animation: opacity 1.8s;
}

.heading-btn {
  display: inline-block;
  border: 1px solid #926239;
  border-radius: 1rem;
  box-shadow: 0 4px 5px #9263398c;
  font-size: 1.8rem;
  text-transform: capitalize;
  padding: 1.4rem 2rem;
  cursor: pointer;
  animation: moveUp 1s, opacity .7s;
  
  transition: all .1s;

  margin-top: 2rem;
}

.heading-btn:hover {
  background-color: #926239;
  color: white;
}

.heading-btn:active {
  transform: translateY(5px);
}



/* Description */

.beach-description {
  background-color: #926239;
  color: white;

}

.description-header {
  font-size: 3.5rem;
  text-align: center;
  padding: 8rem 0;
  text-transform: uppercase;
 
}

.description-block {
  padding-bottom: 10rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.description-img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  box-shadow: 2px 2px 10px #00000071;
  object-position: top;
}

.description-text-block {
  display: inline-block;
  text-align: left;
  width: 50%;
  vertical-align: top;
  font-size: 1.8rem;
  padding: 1rem 3rem;

}
/* Animation */

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(3.5rem);
  }

  100% {
    transform: translateY(0);
  }
}